div.vertical-timeline-element--work.vertical-timeline-element{
    margin: 0px 0px 30%;
}
span.vertical-timeline-element.bounce-in{
    margin: 0px 0px 0px -60px;
    
}
.imgdown{
    background-image: linear-gradient( #0b047400,#0C0474);
}
.phwid{
    width: 97%;
}

